/* Estilos de la cabecera */
.head-container{
    display: flex;
    justify-content: left;
    margin: 50px auto;
    margin-left: 134px;
    height: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.head-right{
    display: flex;
    justify-content: right;
    align-items: right;
    width: 480px;
    height: 60px;
    margin-left: 100px;
}

li{
    display: flex;
    justify-content: auto;
    width: 200px;
    text-decoration: none;
    list-style: none;
    background-color: rgb(36, 37, 37);
}

.head-container a{
    text-decoration: none;
    color: rgb(193, 215, 230);
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px;
    font-size: 20px;
}

.head-container a:hover{
    color: rgb(128, 123, 189);
}
 /* estilos del body */
body{
    background-color: rgb(36, 37, 37);
}

/* Estilos del contenedor */
.contenedor{
    height: 450px;
    display: grid;
    grid-template-areas:'cabecera cabecera'
                        'menu lateral'
                        'blog blog'
                        'imagen adicionales'
                        'footer footer';
    grid-template-rows: 12% auto auto 120% 50%;
    justify-content: stretch;
}

.caja{
    /* border: 4px solid black; */
    /* background-color: aliceblue; */
    text-align: center;
    line-height: 50px;
}

/* Estilos del boton de ofertas */
.caja.c1{
    grid-area: cabecera;
    background-color: rgb(36, 37, 37);
    width: auto;
    height: auto;
    margin-left: 20px;
    display: flex;
    align-items: right;
    margin-left: 80px;
    }

.caja.c1 a{
    color: rgb(193, 215, 230);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    text-decoration: none;
}

.caja.c1 button{
    width: 350px;
    height: 30px;
    background-color: rgb(14, 13, 13);
    border: 1px solid rgb(250, 243, 243);
    border-radius: 10px;
}

/* Estilos imagen lateral superior */
.caja.c2{
    grid-area: lateral;
    width: auto;
    margin-left: 70px;
    display: flex;
    justify-content: left;
}

/* Estilos del texto lateral superior */
.text1{
    margin: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    color:rgb(193, 215, 230);
    line-height: 70px;
}

.text2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(193, 215, 230);
}

.c3{
    grid-area: menu;
    color: rgb(193, 215, 230);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 900px;
}

.c3 a{
    text-decoration: none;
    color: rgb(255, 255, 255);

}

.c3 button{
    height: 45px;
    margin: 5px;
    width: 80px;
    font-size: 17px;
    border:3px solid rgb(137, 223, 223);
    border-radius: 5px;
    color: rgb(241, 248, 248);
    background-color: rgb(126, 126, 245);
}

.c3 input{
    width: 350px;
    height: 35px;
    font-size: 17px;
}

.c3 ::placeholder {
    color: rgb(88, 85, 85);
    font-size: 17px;
}

.tyc a:hover {
    color: rgb(122, 115, 115);

}

/* Estilos del blog superior */
.caja.c4{
    grid-area: blog;
    padding: 10px;
    text-align: center;
    height: auto;
    width: auto;
    grid-template-rows:5 / 5;
    background-color: beige;
}

.c4.blog{
    padding: 0%;
}

.blog1 p{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.blogp1{
    font-size: 50px;
}

.blogp2{
    font-size: 30px;
}

.blogp3{
    font-size: 40px;
}

/* Estilos de iconos del blog central */
.icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
}

.icons a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: gray;
}

.icons p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    inline-size: auto;
}

.icon1{
    box-shadow: 5px 10px 10px 5px rgb(243, 167, 100);
    margin: 10px;
}

.icon2{
    box-shadow: 5px 10px 10px 5px rgb(243, 167, 100);
    margin: 10px;
}

.icon3{
    box-shadow: 5px 10px 10px 5px rgb(243, 167, 100);
    margin: 10px;
}


/* Estilos del blog inferior */
.c5{
    grid-area: imagen;
    display: flex;
    justify-content: left;
    width: auto;
}

.boton2{
    display: flex;
    justify-content: center;
    padding: 10px;

}

.c6{
    grid-area: adicionales;
    color: rgb(241, 248, 248);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}

.adic1{
    text-align: center;
    font-size: 40px;
    text-shadow: 50%;
}

.adic2{
    font-size: 40px;
}

.adic3{
    font-size: 20px;
}
.c6 button{
    width: 150px;
    height: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.c6 button a{
    color: rgb(95, 94, 94);
    text-decoration: none;
    font-size: 15px;
}

/* Estilos de pie de pagina */

footer{
    grid-area: footer;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-width: 100%;
}

footer a{
    margin: 10px;
    margin-top: 13px;
}

.f1 {
    display: flex;
    justify-content: center;
    margin-top: auto;
}


.f2 a{
    display: flex;
    justify-content: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: gray;
}

.f3 a{
    display: flex;
    justify-content: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: gray;
}

.f4 a{
    display: flex;
    justify-content: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: gray;
    text-justify: distribute-all-lines;
}

